<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Storage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <form th:action="@{/admin/home}">
            <button class="btn btn-md btn-danger btn-block" type="Submit">Home Page
            </button>

            <div th:if="${message}" class="alert alert-success" role="alert">
                <p th:text="${message}">success message</p>
            </div>
        </form>
        <form th:action="@{/admin/storage/}" method="GET" class="search">
            <input type="text" placeholder="Search" name="searchName" class="form-control" />
            <button type="submit" class="btn btn-primary btn-block">Search</button>
            <div class="form-group">
                Product Category<div class="col-sm-9">
                    <label class="radio-inline"><input type="radio" name="category" value="Groceries">Groceries</label>
                    <label class="radio-inline"><input type="radio" name="category" value="Stationery materials">Stationery
                        materials</label>
                    <label class="radio-inline"><input type="radio" name="category" value="Building materials">Building materials</label>
                </div>
            </div>
        </form>
        <table width="100%" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Buy Price</th>
                    <th>Sell Price</th>
                    <th>Count</th>
                    <th>Category</th>
                    <th>Code</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${storage}">
                    <td th:text="${item.productName}">Name</td>
                    <td th:text="${item.productDescription}">Description</td>
                    <td th:text="${item.buyPrice}">Buy Price</td>
                    <td th:text="${item.sellPrice}">Sell Price</td>
                    <td th:text="${item.productCount}">Count</td>
                    <td th:text="${item.productCategory}">Category</td>
                    <td th:text="${item.productCode}">Code</td>
                    <td><a href="#" th:href="@{/admin/storage/edit/} + ${item.id}">Edit</a></td>
                    <td><a href="#" th:href="@{/admin/storage/delete/} + ${item.id}">Delete</a></td>
                </tr>
            </tbody>
        </table>


    </div>
    </div>
    </div>
</body>

</html>